{% extends "base.html" %} {% block content %}

<div class="flex flex-col items-center justify-center min-h-[92vh]">
  <div class="flex min-h-1/2 w-full justify-center p-10 items-center">
    <div
      class="rounded-xl border bg-[var(--card)] text-[var(--card-foreground)] shadow w-1/2"
    >
      <div class="flex flex-col space-y-1.5 p-6">
        <div class="font-semibold leading-none tracking-tight">
          Create event
        </div>
        <div class="text-sm text-[var(--muted-foreground)]">
          Create a event in one click
        </div>
      </div>
      <div class="p-6 pt-0">
        <form method="POST" action="{{ url_for('create_event') }}" enctype="multipart/form-data">
          <div class="grid w-full items-center gap-4">
            <div class="flex flex-col space-y-1.5">
              <label
                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for="name"
                >Name</label
              ><input
                class="flex h-9 w-full rounded-md border border-[var(--border)] bg-transparent px-3 py-1 text-base shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-[var(--foreground)] placeholder:text-[var(--muted-foreground)] focus-visible:outline-none focus-visible:ring-1 disabled:cursor-not-allowed disabled:opacity-50 md:text-sm"
                id="name"
                name="name"
                placeholder="Name of your project"
              />
            </div>
            <div class="flex flex-col space-y-1.5">
              <label
                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for="description"
                >Description</label
              ><input
                class="flex h-9 w-full rounded-md border border-[var(--border)] bg-transparent px-3 py-1 text-base shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-[var(--foreground)] placeholder:text-[var(--muted-foreground)] focus-visible:outline-none focus-visible:ring-1 disabled:cursor-not-allowed disabled:opacity-50 md:text-sm"
                id="description"
                name="description"
                placeholder="Description of your project"
              />
            </div>
            <div class="flex flex-col space-y-1.5">
              <label
                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for="date"
                >Date</label
              ><input
                class="flex h-9 w-full rounded-md border border-[var(--border)] bg-transparent px-3 py-1 text-base shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-[var(--foreground)] placeholder:text-[var(--muted-foreground)] focus-visible:outline-none focus-visible:ring-1 disabled:cursor-not-allowed disabled:opacity-50 md:text-sm"
                type="date"
                id="date"
                name="date"
                placeholder="date of your project"
              />
            </div>
            <div class="flex flex-col space-y-1.5">
              <label
                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for="location"
                >Location</label
              ><input
                class="flex h-9 w-full rounded-md border border-[var(--border)] bg-transparent px-3 py-1 text-base shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-[var(--foreground)] placeholder:text-[var(--muted-foreground)] focus-visible:outline-none focus-visible:ring-1 disabled:cursor-not-allowed disabled:opacity-50 md:text-sm"
                id="location"
                name="location"
                placeholder="location of your project"
              />
            </div>
             <div class="flex flex-col space-y-1.5">
              <label
                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for="image"
                >Image</label
              ><input
                class="flex h-9 w-full rounded-md border border-[var(--border)] bg-transparent px-3 py-1 text-base shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-[var(--foreground)] placeholder:text-[var(--muted-foreground)] focus-visible:outline-none focus-visible:ring-1 disabled:cursor-not-allowed disabled:opacity-50 md:text-sm"
                id="image"
                name="image"
                type="file"
                placeholder="image of your project"
              />
            </div>
          </div>
          <div class="items-center pt-8 flex justify-between">
            <button
              class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 border border-[var(--border)] bg-[var(--background)] shadow-sm hover:bg-[var(--accent)] hover:text-[var(--accent-foreground)] h-9 px-4 py-2"
              type="reset"
            >
              Cancel</button
            ><button
              class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 border border-[var(--border)] bg-[var(--light-button)] text-[var(--light-primary-text)] shadow-sm hover:bg-[var(--light-button-hover)] h-9 px-4 py-2"
              type="submit"
            >
              Create
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
