{% extends "base.html" %} {% block content %}
<h1>Event List</h1>
<ul>
    <li>
	<img src="{{ event.getImage() }}" />
    <strong>{{ event.name }}</strong><br />
    {{ event.description }}<br />
    {{ event.date }} — {{ event.location }}

    
    <div class="flex flex-col mt-3 gap-3">
	Event manager
	<div class="flex items-center gap-4">
	    <img class="rounded-full w-10 h-10" src="{{ manager.getImage() }}">
	    {{ manager.fullName() }}
	</div>
    </div>

    <form action="{{ url_for("events.info", event_id=event.id) }}" method="POST" class="mt-5">
	{% if attending %}
	    <input type="hidden" name="action" value="remove" />
	    <button type="submit" class="bg-green-500 text-black p-3 rounded">Remove attending</button>
	{% else %}
	    <input type="hidden" name="action" value="add" />
	    <button type="submit" class="bg-green-500 text-black p-3 rounded">Attend this event</button>
	{% endif %}
    </form>
  </li>
</ul>

{% if users %}
    <div class="mt-10">People attending</div>
    {% for user in users%}
	<div class="flex mt-4 gap-4 items-center">
	    <img class="rounded-full w-10 h-10" src="{{ user.getImage() }}">
	    <span>{{ user.fullName() }}</span>
	<div>
    {% endfor%}
{% endif %}

{% endblock %}
