@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root {
  --background: #1f1d1a;
  --foreground: #fefaf6;

  --card: #1e1e1e;
  --card-foreground: #f5f0eb;

  --primary: #c9bca8; /* creamy beige */
  --primary-foreground: #0e0e0e;

  --secondary: #2a2a2a;
  --secondary-foreground: #e9e4dd;

  --muted: #2e2e2e;
  --muted-foreground: #bcb4ab;

  --accent: #5e574f;
  --accent-foreground: #f6f1eb;

  --destructive: #8b1e1e;
  --destructive-foreground: #fff9f5;

  --border: #292929;
  --input: #202020;
  --placeholder: #a89e93;

  --light-primary-text: #f9f5f0;
  --primary-text: #e0d9d2;

  --light-button: #c9bca8;
  --light-button-hover: #bfb19d;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background 0.3s, color 0.3s;
}
