<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/main.css') }}"
    />
  </head>
  <body class="bg-[var(--background)] text-[var(--primary)]">
    <main class="relative flex min-h-svh flex-col">
      <div class="flex flex-1 flex-col container mx-auto min-h-screen">
        <header
          class="h-[8vh] sticky top-0 z-50 w-full bg-[var(--background)/95] backdrop-blur supports-[backdrop-filter]:bg-[var(--background)/60]"
        >
          <div class="">
            <div class="container flex h-14 items-center gap-2 md:gap-4">
              <div class="mr-4 flex">
                <a class="mr-4 flex items-center gap-2 lg:mr-6" href="/"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 256 256"
                    class="h-6 w-6"
                  >
                    <rect width="256" height="256" fill="none"></rect>
                    <line
                      x1="208"
                      y1="128"
                      x2="128"
                      y2="208"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="32"
                    ></line>
                    <line
                      x1="192"
                      y1="40"
                      x2="40"
                      y2="192"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="32"
                    ></line></svg
                  ><span class="hidden font-bold lg:inline-block"
                    >Cross Stream</span
                  ></a
                >
                <nav class="flex items-center gap-4 text-sm xl:gap-6">
                  <a
                    class="transition-colors hover:text-[var(--foreground)/55] text-[var(--foreground)/80]"
                    href="/my-events"
                    >My Event</a
                  >
                  <a
                    class="transition-colors hover:text-[var(--foreground)/55] text-[var(--foreground)/80]"
                    href="/create-event"
                    >Create Event</a
                  >
                </nav>
              </div>
              <div
                class="ml-auto flex items-center gap-2 md:flex-1 md:justify-end"
              >
                {% if current_user.is_authenticated %}

                <div class="flex flex-col justify-center items-start p-4">
                  <p class="text-sm">{{ current_user.name }}</p>
                  <p class="text-slate-600 text-xs">{{ current_user.email }}</p>
                </div>
                {% else %}
                <div class="flex flex-row justify-center items-start p-4 gap-2">
                  <button
                    class="border rounded-lg px-2 py-1 hover:bg-white hover:text-black"
                  >
                    <a href="/login">Login</a>
                  </button>
                  <button
                    class="border rounded-lg px-2 py-1 hover:bg-white hover:text-black"
                  >
                    <a href="/signup">Signup</a>
                  </button>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </header>
        <main class="h-full">{% block content %} {% endblock %}</main>
      </div>
      <footer></footer>
    </main>
  </body>
</html>
