{% extends "base.html" %} {% block content %}

<div class="container mt-4">
  <div class="relative flex flex-row items-center w-full mb-4">
    <h2
      class="absolute left-1/2 transform -translate-x-1/2 text-center text-xl"
    >
      Event List
    </h2>
  </div>
  <div class="flex w-full min-h-[87vh]">
    <div
      class="w-1/6 h-[87vh] sticky top-0 p-4 border-r border-[var(--border)] overflow-y-auto"
    >
      <div class="flex flex-col justify-between">
        <label class="block text-sm mb-1">Sort By</label>
      </div>
      <div class="space-y-2">
        <h2 class="text-xl font-bold">Filter</h2>
      </div>
    </div>

    <div class="w-5/6 h-[87vh] overflow-y-scroll p-6">
      {% if events %}
      <div class="grid grid-cols-4 gap-4 pt-4">
        {% for event in events %}
        <div
          class="rounded-xl border border-[var(--border)] shadow overflow-hidden h-fit"
        >
          <div>
            <img
              src="https://picsum.photos/300/100?random={{ event.id }}"
              alt="event {{ event.id }}"
              class="size-full object-contain"
            />
          </div>

          <div
            class="px-6 py-2 flex flex-row items-center justify-between space-y-0"
          >
            <div class="relative flex flex-col items-start w-full mb-4">
              <p>{{ event.name }}</p>

              <p class="text-sm">{{ event.description }}</p>
            </div>
          </div>
          <div class="p-6 pt-0">
            <div class="flex flex-row justify-between">
              <div>
                <p class="text-xs text-[var(--muted-foreground)]">
                  {{ event.date }}
                </p>
                <p class="text-xs text-[var(--muted-foreground)]">
                  {{ event.location }}
                </p>
                <p class="text-xs text-[var(--muted-foreground)]">
                  {{ event.user.fullName() }}
                </p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <div>No events found</div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
